{{!-- 'Compliance' section in the Resource page--}}

<div>
    <h4>Compliance Topics</h>
</div>

<div data-toggle="collapse" data-target="#derivatives">
    <div><a href=#>
        <p>Clients' Knowledge of Derivatives</p></a>
    </div>
</div>

<div class="collapse" id="derivatives">
    <div>    
        <p> Intermediaries dealing with non-professional clients (and in some cases, even professional clients) have certain obligations when it comes to derivatives. </p>

        <p> The main obligation is to characterize a client according to whether he or she has a knowledge of derivatives. This leads onto other obligations, such as the need to explain the relevant risks associated with derivatives, where clients with no knowledge of derivatives wishes to purchase such products (See sections 5.1A and 5.3 of the Code of Conduct for Persons Licensed by or Registered with the Securities and Futures Commission).</p>

        <p> The most common question in this context is how can an intermediary determine whether or not a client has such knowledge, and would it be sufficient to rely on written representations or declaration from the client. </p>

        <p> Guidance from the SFC suggests that pure reliance on a declaration is insufficient (see the SFC's Report on Thematic Inspection of Selling Practices of Licensed Corporations, October 2012). In performing the assessment, intermediaries would therefore be required to take into account factors such as whether the client has received training or possesses any work or trading experience in derivative products (see Guidance to Licensed Corporations and Registered Institutions in relation to Investor Characterization and Professional Investors Requirements, May 2010).</p>

        <p> In order to ensure that such assessments are performed consistently, monitored and recorded, it would be prudent to implement written checklists. And whilst declarations by the client may not in themselves be sufficient, representations from the client as to the veracity of any information provided during the assessment are advisable.</p>
    </div>

</div>
