<div>
    <h4>Master Agreements</h>
</div>

<div data-toggle="collapse" data-target="#mastermean">
    <div><a href=#>
        <p>What does 'Master' mean?</p></a>
    </div>
</div>

<div class="collapse" id="mastermean">
    <p>'Master' typically means an agreement that governs the overall relationship between the parties.</p>
    <p>A 'Trade' or 'Transactional' level agreement means an agreement governing the trade level.
</div>

<div data-toggle="collapse" data-target="#doctable">
    <div><a href=#>
        <p>Examples of Standard Documentation</p></a>
    </div>
    <div class="collapse" id="doctable">
        <p>Various industry bodies have produced standard agreements, and whilst most brokers typically use them, expect a fair amount of customisation and supplementation. Brokers also provide services for which no industry standard agreement exists. The below table links most commonly traded products to their corresponding industry standards.</p>  

    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Transactions / Services</th>
            <th>Master Agreement</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>OTC derivatives</td>
            <td>ISDA</td> 
        </tr>
        <tr>
            <td>Margin and Collateral for OTC derivatives</td>
            <td>ISDA Credit Support Annex</td> 
        </tr>

        <tr>
            <td>Short Sales / Stock Loans</td>
            <td>Global Master Stock Lending Agreement</td>
        </tr>
        <tr>
            <td>Repos</td>
            <td>Global Master Repurchase Agreement</td>
        </tr>
        <tr>
            <td>Netting</td>
            <td>Master Netting Agreement</td>
        </tr>

        </tbody>
    </table>  
    </div>
</div> 