<div class="panel panel-primary">
    <div class="panel-heading">
        Alpha Calibration provides negotiation, compliance and various support services for asset managers and brokers.
    </div>
</div>

 {{!-- <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" data-toggle="modal" data-target="#map"><a href="#">
                1302 Prosperity Tower<br>
                39 Queen's Road Central<br>
                Hong Kong<br>
                +85236203287<br>
                info@alphacalibration.com</a>
            </div>
        </div>
</div> --}}


{{!-- <div data-toggle="collapse" data-target="#ourvalues">
	<div class="panel panel-default">
	    <div class="panel-heading">
				Our Values
		</div>
		<div class="collapse" id="ourvalues">
			<div class="panel-body">
				<h5>
    			<p class="text-justify">We believe in balancing operational efficiency and business goals against risks. </p>

                <p class="text-justify">We do not adopt a cookie cutter approach nor are we interested in offering fragmented solutions limited to our own comfort area.</p>

                <p class="text-justify">We aim to implement customised solutions which not only comply with regulations but also integrate with your business goals and needs.</p>
				</h>
			</div>
		</div>
	</div>
</div> --}}

{{!-- <div data-toggle="collapse" data-target="#ourapproach">
	<div class="panel panel-default">
	    <div class="panel-heading">
				Our Approach
		</div>
			<div class="collapse" id="ourapproach">
				<div class="panel-body">
	                We offer flat, competitive pricing, strong support, Custom software-based or manual solutions, A wide range of COO-related services
				</div>
			</div>
	</div>
</div> --}}