{{!-- 'Licensing' section in the Resource page--}}

<div>
    <h4>Licensing Topics</h>
</div>

<div data-toggle="collapse" data-target="#procedure">
    <div><a href=#>
        <p>The Licensing Process</p></a>
    </div>
</div>

<div class="collapse" id="procedure">
    <div>    
        <p>The process begins by assessing whether or not a licence application is required and can be obtained.</p>
        <p> This is followed by gathering the necessary information, which can take time especially for group organisations or those with a long operating history.</p>
        <p> Once the information is obtained, the relevant forms, supplements and documents are prepared and submitted to the SFC along with necessary fees. </p>
        <p> Upon receipt of the application, it is common for the SFC to seek further information either through written or telephone queries. The entire process for standard appications usually takes between 3 and 4 months from the date the application is submitted.</p>
    </div>
</div>

{{!-- Information Required for Type 9 Licence Applications--}}
<div data-toggle="modal" data-target="#otherinfo">
    <div><a href=#>
        <p>Information Required for Type 9 SFC Licence Applications</p></a>
    </div>
</div>

<div class="modal fade" id="otherinfo">
    <div class="modal-dialog">
    <div class="modal-content">
    <p>The following is a list of information required to be provided in forms and supplements for SFC licence applications</p>
    <table class="table table-bordered">
        <p><em>For corporate applications</em></p>

        <thead>
            <tr>
                <th>Form 1</th>
                <th>Information</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Section 1</td>
                <td>Name<br>
                Address<br>
                Date of Incorporation<br>
                Date of Registration<br>
                Hong Kong Business Registration Certificate Number<br>
                Financial Year End<br>
                Auditor and Appointment Date<br>
                </td>
            </tr>
                <td>Section 2</td>
                <td>Telephone and fax numbers, email, website, business, registered office, correspondence and record keeping addresses (Supplement 1)<br>
                List of records that will be kept at the premises (e.g. trade confirmations, counterparty agreements)</td>
            <tr>

            <tr>
                <td>Section 3</td>
                <td>Share Capital</br>
                for <em>each</em> class of shares (ordinary, preference and others):<br>
                Number of Issued Shares<br>
                - Issued Share Capital<br>
                - Par Value (if applicable)<br>
                - Number of Authorized Shares (if applicable)<br>
                - Premium Paid (if applicable)<br>
                - Paid-up Share Capital<br>
                - Unpaid Share Capital<br>
                </td>
            </tr>

             <tr>
                <td>Section 4</td>
                <td>Corporate and Shareholding Structure<br>
                - Group Structure<br>
                - Percentage Shareholdings<br>
                - Principal Business Activities<br>
                - Licence/Registration Status for Regulated Activities</br>
                - Whether the main shareholder is a licensed, representative, licensed corporation or registered institution, approved substantial shareholder of a licensed corporation, or a substantial shareholder of a registered institution (Supplement 2 & 3)
                </td>
            </tr>

            <tr>
                <td>Section 5</td>
                <td>Executve Directors and Responsible Officers<br>
                    - Name of responsible officers<br>
                    - CE numbers<br>
                    - Whether they are an executive director and the regulated activities to be supervised<br>
                </td>
            </tr>

            <tr>
                <td>Section 6</td>
                <td>Non-Executve and Shadow Directors<br>
                    - Name of non-executive and shadow directors<br>
                    - CE numbers<br>
                    - Whether they are an executive director and the regulated activities to be supervised (Supplement 4 & 3)<br>
                </td>
            </tr>

             <tr>
                <td>Section 7</td>
                <td>Complaints Officers and Emergency Contact Person<br>
                    - Name<br>
                    - HKID/Passport Number
                    - Job Title
                    - Telephone and Fax Number
                    - Correspondence Address
                    - Email Address of Complaints Officer and Emergency Contact Persons.
                </td>
            </tr>

            <tr>
                <td>Section 8</td>
                <td>Associated Entities<br>
                    - Name and whether associated entities are a licensed corporation or registered institution and effective date of becoming an associated entity.<br>
                    - Names and CE numbers of any licensed corporations or registered institutions which the applicant is an associated entity. (Supplement 5)<br>
                </td>
            </tr>

            <tr>
                <td>Section 9</td>
                <td>Subsidiaries<br>
                    Names and CE number of any subsidiaries (Supplement 6)<br>
                </td>
            </tr>

             <tr>
                <td>Section 10</td>
                <td>Bank Account Information (Supplement 6)<br>
                </td>
            </tr>

            <tr>
                <td>Section 11</td>
                <td>Financial Resources (Supplement 7)<br>
                </td>
            </tr>

            <tr>
                <td>Section 12</td>
                <td>Charges, Pledges, Liens or Encumbrances<br>
                    Date of Charge, Description of Asset and Amount Secured<br>
                </td>
            </tr>

            <tr>
                <td>Section 13</td>
                <td>Proposed Business Activities (Supplement 8)<br>
                </td>
            </tr>
        
        </tbody>
    </table>
    </div>
    </div>
</div>

{{!-- <div data-toggle="collapse" data-target="#supporting">
    <div><a href=#>
        <p>Supporting Documentation for Type 9 SFC Licence Applications</p></a>
    </div>
</div>

<div class="collapse" id="supporting">
    <table class="table table-bordered">
    
    <thead>
        <tr>
            <th>Supplement</th>
            <th>Information</th>

        </tr>
    </thead>

    <tbody>
    <tr>
        <td>Supplement 1</td>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td>Supplement 2</td>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td>Supplement 3</td>
        <td>
            <br>
        </td>
    </tr>
	</tbody>
	</table>

</div> --}}
{{!-- Other Considerations --}}
<div data-toggle="collapse" data-target="#others">
    <div><a href=#>
        <p>Other Considerations</p></a>
    </div>
</div>

<div class="collapse" id="others">
	<p>In addition to the licensing application it is also necessary to ensure the following documentation is also in place:</p>
    - Employment contracts and work visas<br>
    - All necessary handbooks (dealing with operational and compliance procedures and employee matters)<br>
</div>
