<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div data-toggle="collapse" data-target="#julian">
            Main Contact
        </div>  
    </div>
    <div class="collapse" id="julian">
        <div class="panel-body">
            <p><small>Julian Lim</p>
            <p>Julian has worked in operations, documentation negotiation and as legal counsel for banks such as Morgan Stanley, Deutsche Bank and Societe Generale for over a decade, supporting their derivative, prime brokerage and cash execution businesses. Most recently he was also chief operating officer and general counsel of an international asset manager.</p>

            <p>He also has a strong interest in technology and enjoys combining his skills and experience to set up and establish financial institutions, funds and asset managers. He has advised both the sell-side and buy-side on a variety of legal, compliance and operational issues across many jurisdictions in Asia and Europe in his career.</p>

            <p>Julian is a qualified solicitor of England and Wales and a CFA Charterholder.</small></p>
        </div>
        <div class="panel-footer">
            <p><small>5236203287<br>
                Mob: +85298523217</br>
                Email: julian@alphacalibration.com<br>
            </small>
        </div>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
            <h5><a href="/">Home</a></p></h>
            {{!-- <h5><a href="documentation">Documentation Negotiation</a></p></h> --}}
            <h5><a href="compliance">Compliance And Regulatory Support</a></p></h>
            <h5><a href="resources">Resources</a></p>
    </div>
</div>