<div>
    <h4>Setup and Organisation</h>
</div>

<div data-toggle="collapse" data-target="#pbaccounts"><a href=#>
    <p>Selecting Brokers</p></a>
</div>
<div class="collapse" id="pbaccounts">
    <p>Evaluate brokers on a per-strategy basis using the scorecard of factors below.
{{!-- </div> --}}
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Strategy</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <thead>
      <tr>
        <th>Features</th>
        <th>Specification</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>Market</td>
        <td>[Desired markets]</td>
        <td></td> 
    </tr>
    <tr>
        <td>Access</td>
        <td>[Direct/Indirect]</td>
        <td></td> 
    </tr>
    <tr>
        <td>Liquidity</td>
        <td>[Long / short demand]</td>
        <td></td>
    </tr>
    <tr>
        <td>Product</td>
        <td>[Desired products]</td>
        <td></td> 
    </tr>
    <tr>
        <td>Leverage</td>
        <td>[Minimum requirement]</td>
        <td></td>
    </tr>
    <tr>
        <td>Fees</td>
        <td>[]</td>
        <td></td>
    </tr>
    <tr>
        <td>Research and Data</td>
        <td>[Market data/Flow information/Special reports]</td>
        <td></td>
    </tr>

    <tr>
        <td>Execution</td>
        <td>[Type of Execution]</td>
        <td></td>
    </tr>
    <tr>
        <td>Infrastructure</td>
        <td>[Connectivity/Co-location]</td>
        <td></td>
    </tr>
    <tr>
        <td>Operational Support</td>
        <td>[Reporting frequency / Staff expertise]</td>
        <td></td>
    </tr>
    </tbody>
    <thead>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    </table>
</div>

<div data-toggle="collapse" data-target="#purchase"><a href=#>
    <p>Purchasing a Licensed Corporation: Approvals and Notifications</p></a>
</div>
<div class="collapse" id="purchase">
    <p>    
        The table below lists potential SFC pre-approvals and notifications when purchasing a licensed corporation:<br>
    </p>
     <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Body</th>
            <th>Event</th>
            <th>Pre/Post</th>
        </tr>
        <tr>
            <td>SFC</td>
            <td>
                Change in ownership
                (The threshold is 10% direct and 35% indirect).
            </td> 
            <td>
                Pre-Approval
            </td> 
        </tr>
        <tr>
            <td>SFC</td>
            <td>
                Changes to responsible officer
            </td> 
            <td>
                Pre-Approval
            </td> 
        </tr>
        <tr>
            <td>SFC</td>
            <td>
                Change in share capital / shareholding structure
            </td> 
            <td>
                Post-Notification (within 7 business days)
            </td> 
        </tr>
        <tr>
            <td>SFC</td>
            <td>
                Becoming or ceasing to be a director of a licensed corporation in Hong Kong
            </td> 
            <td>
                Post-Notification (within 7 business days)
            </td> 
        </tr>
        <tr>
            <td>SFC</td>
            <td>
                Becoming or ceasing to be a director of a licensed corporation in Hong Kong
            </td> 
            <td>
                Post-Notification (within 7 business days)
            </td> 
        </tr>

        <tr>
            <td>SFC</td>
            <td>Ceasing to act as a responsible officer</td> 
            <td>Post-Notification (within 7 days)</td> 
        </tr>

        <tr>
            <td>SFC</td>
            <td>Change of Name</td> 
            <td>Post-Notification (within 7 days)</td> 
        </tr>

        
        
        </tbody>
    </table>  

</div>