<div class="container-fluid">
    <div class="row resourcerow">
        <div class="col-lg-2 col-sm-2 sidecolumn">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Alpha Calibration is a company based in Hong Kong which provides negotiation, compliance and various COO support services for the asset management industry.
                </div>
            </div>
			<div data-toggle="collapse" data-target="#ourvalues">
				<div class="panel panel-primary">
	                <div class="panel-header">
			            <h4>
							Our Values
						</h>
						<div class="collapse" id="ourvalues">
							<div class="panel-body">
								<h5>
				    			<p class="text-justify">We balance your operational efficiency and business goals against risks. </p>

				                <p class="text-justify">We believe that each business is different and should be understood before solutions are proposed.</p>

				                <p class="text-justify">We do not adopt a cookie cutter approach nor are we interested in offering fragmented solutions limited to our own comfort area.</p>

				                <p class="text-justify">We aim to implement customised solutions which not only comply with regulations but also integrate with your business goals and needs.</p>
								</h>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div data-toggle="collapse" data-target="#ourapproach">
				<div class="panel panel-primary">
	                <div class="panel-header">
							Our Approach
					</div>
						<div class="collapse" id="ourvalues">
							<div class="panel-body">
			                    We offer flat, competitive pricing, strong support, Custom software-based or manual solutions, A wide range of COO-related services
							</div>
						</div>
				</div>
			</div>

        </div>

        <div class="col-lg-8"> 
	        <div class="row">
                <h1 class="text-center">An Integrated Approach</h>
            </div>

			<div class="row">

				<div class="col-lg-6">
	                <div>
		                <h1>Guides</h>
		            </div>
		            <div>
			            {{>brokers}}
			            {{>documentation}}
			        </div>
				</div>

		        <div class="col-lg-6">
		            <h1>Tips</h>
		        </div>

			</div>
		</div>
 
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4> Consultants</h>
                </div>
                <div class="panel-body" style="text-align:justify">
                    <p>Julian Lim</p>
                    <p><small>Julian was a negotiator and legal counsel who supported the prime brokerage and derivative businesses at Morgan Stanley, Deutsche Bank and Societe Generale. More recently as chief operating officer and general counsel of an international asset manager.</p>

                    <p>He has helped onboard many funds and asset managers and also advised both the sell-side and buy-side on a variety of compliance issues across many jurisdictions in Asia and Europe in his career.</p>

                    <p>Julian is a qualified solicitor of England and Wales and a CFA Charterholder.</p>
                </div>
                <div class="panel-footer">
                    <p>Tel: +85236203287<br>
                    Email: julian@alphacalibration.com</p>
                </div>
            </div>
        </div>


    </div>
</div>
