<div class="row"><div><h2 class="text-center text-primary">Compliance And Regulatory Support</h></div></div>

<div class="row">

        <div class="col-lg-9">
    			<p><div><h3 id="interact">How We Interact</h></div></p>

                <div><p><h4>Consultation & Design</h></p></div>
                    
                <table class="table" id="borderlesstable">
                    <tbody>
                        <tr>
            				<td>We hold several consultations to determine the scope of support required and understand your business, operations and risks.</td>
                        </tr>   
        				<tr>
                            <td>We identify the particular risks that affecting your business and how they can be managed.
                            </td>
                        </tr>
        				<tr>
                            <td>We design and implement a program to prevent, detect and address violations specific to all or any of the risks.
                            </td>
                        </tr>
                    </tbody>    
                </table>

    			<div><h4>Implementation</h></div>

                <table class="table" id="borderlesstable">
                    <tbody>
                        <tr>
                            <td>We independently obtain records to ensure our reviews accurately reflect actual practices.</td>
                        </tr>
                        <tr>
                            <td>We ensure that actual practices reflect and follow written procedures.</td>
                        </tr>  
                        <tr>
                            <td>We communicate by holding regular face-to-face meetings.</td>
                        </tr>  
                         <tr>
                            <td>We can perform or facilitiate any record-keeping or data processing procedures either manually or through an online system.</td>
                        </tr>  
                    </tbody>    
                </table>
        </div>

        <div class="col-lg-2">                    
        </div>

</div>

<div class="row">
    <div class="panel panel-warning">
                <div class="panel-body" id="compliancelist">
                    <div class="col-lg-3">
                            <p>Personal Account Dealing <br>
                            <p>Continuous Professional Training<br>
                            <p>Anti-Money Laundering<br>
                            <p>Data Back-up and Retention</br>
                    </div>

                    <div class="col-lg-3">
                            <p>Material Nonpublic Information Control<br>
                            <p>Risk and Investment Limit Monitoring<br>
                            <p>Professional Investor Suitability<br>
                            <p>Marketing and Distribution</br>
                    </div>

                    <div class="col-lg-3">
                            <p>Best Execution</br>
                            <p>Directorships and Outside Interests<br>
                            <p>Publications and Notices<br>
                            <p>Regulatory Communications<br>
                    </div>

                    <div class="col-lg-3">
                            <p>Gifts and Benefits<br>
                            <p>Financial Resources<br>
                            <p>Restricted Lists<br>
                    </div>
                </div>
    </div>
</div>