<div class="container consultantcontainer">
	<div class="row">
		<div class="col-lg-12 consultantrows">
			<p><em><h3>Julian Lim</h></p><br>

			<p>Julian worked as an inhouse counsel supporting the prime brokerage and derivative businesses at Morgan Stanley, Deutsche Bank and Societe Generale and more recently as chief operating officer and general counsel of an international asset manager.</p>

	        <p>With 15 years experience in the financial industry, Julian has worked with prime brokers to onboard many hedge funds and asset managers and also advised both the sell-side and buy-side on a variety of compliance issues across many jurisdictions in Asia and Europe. He has a broad perspective and deep understanding of the internal organisation and processes at both buy and sell sides and the commercial relationships between them.</p>

	        <p>Julian is a qualified solicitor of England and Wales and a CFA Charterholder.</em></p>
		</div>  
	</div>
	<div class="row">
		<div class="col-lg-12 consultantrows">
			<p><em><h3>Rex Young</h></p><br>

			<p>Rex is an ex-IBM engineer who has designed and established operations, systems and applications support for international financial, technology and telecommunications companies.</p>

			<p></p>

	        <p>Rex obtained his MBA from the MIT Sloan School of Management.</em></p>
		</div>    
	</div>
</div>