<div class="row"><div><h2 class="text-center text-primary">Documentation Negotiation</h></div></div>

<div class="row">

    	
        <div class="col-lg-9">
    			<p><div><h3 id="interact">How We Interact</h></div></p>

                <div><p><h4>Consultation</h></p></div>
                    
                <table class="table" id="borderlesstable">
                    <tbody>
                        <tr>
            				<td>We view negotiations as a subset of contratual risk management. In initial consultations we seek to understand your trading and portfolio dependencies.</td>
                        </tr>   
        				<tr>
                            <td>We then identify the key provisions and risks that may affect your abilities and advise how they can be detected and mitigated, walking you through the documentation if required.
                            </td>
                        </tr>
                    </tbody>    
                </table>

    			<div><h4>Negotiation</h></div>

                <table class="table" id="borderlesstable">
                    <tbody>
                        <tr>
                            <td>We aim to conclude negotiations swiftly and effectively.</td>
                        </tr>
                        <tr>
                            <td>We ensure that actual practices reflect and follow written procedures.</td>
                        </tr>  
                        <tr>
                            <td>We communicate by holding regular face-to-face meetings.</td>
                        </tr>  
                         <tr>
                            <td>We can help perform or facilitiate any record-keeping or data processing procedures either manually or through an online system.</td>
                        </tr>  
                    </tbody>    
                </table>
        </div>

        <div class="col-lg-2">                    
        </div>

</div>

<div class="row">
    <div class="panel panel-warning">
                <div class="panel-body" id="docslist">
                    <div class="col-lg-4">
                            <p>ISDA Master Agreement<br>
                            <p>Credit Support Annex<br>
                            <p>Confirmations and Portfolio Swaps</p>                            
                    </div>

                    <div class="col-lg-4">
                            <p>Global Master Securities Lending Agreement<br>
                            <p>Global Master Repurchase Agreement</br>
                            <p>Prime Brokerage Agreement<br>
                    </div>

                    <div class="col-lg-4">
                            <p>Master Netting Agreement<br>
                            <p>Margin Terms<br>
                            <p>Trading Agreements</br>
                            <p>Side Letters</br>
                    </div>

                </div>
    </div>
</div>