{{!-- INTRODUCTORY PARAGRAPH --}}
<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">

                <div class="col-lg-12 col-sm-12 hidden-xs marketing">
                
                    <h3>We capitalise on our buy and sell-side experience to provide highly responsive. services. We believe every client is different and pride ourselves on being hands-on in devising and implementing solutions which fit our clients.</h>
                
                </div>

        </div>
    </div>
    {{!-- MAIN BODY --}}
    <div class="container-fluid">
        <div class="row substance" id="categories">
        
                <div class="col-lg-4 col-sm-4 text-center substance">
                    <h4>Customised Compliance Programs and Regulatory Support</h>
                    <p><h5>Licensing and Regulatory Filings</h>
                    <h5>Procedures and Record-Keeping</h>
                    <h5>Periodic Reviews</h>    
                    <h5>Site Inspections and Audits</h>
                    <h5>Regulatory Developments</h></p>
                </div>
        
                <div class="col-lg-4 col-sm-4 text-center substance">            
                    <h4>Documentation Support and Outsourcing</h>
                    <p><h5>Account Opening</h>                  
                    <h5>Prime Brokerage and ISDA Documentation</h>               
                    <h5>Transaction Management</h>
                    <h5>Legal Resourcing</h></p>
                </div>
        
                <div class="col-lg-4 col-sm-4 text-center substance">            
                    <h4>COO Services</h><br>    
                    <h5>Company Intranet and Information Management</h>
                    <h5>Middle and Back Office Systems and Processes</h>
                    <h5>Billing and Service Provider Management</h>
                </div>

        </div>
    </div>

</div>