<div class="row resourcerow">

    <div class="col-lg-12"> 
        <h1 class="text-center">Resources</h>
    </div>

     <div class="col-lg-12"> 
        <div class="bg-warning" data-toggle="modal" data-target="#1">
            <div><h4>Recent News</h></div>
            <p style="line-height:250%"><em>8 Dec 2015: </em><a href="#">SFC requires new provisions in client agreements</a></p>
        </div>
    </div>   

    <div id="1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-heading text-center">
                    <p class="text-right">8 December 2015</p>
                    <p>SFC requires new provisions in client agreements</p>
                </div>
                <div class="modal-body">
                    <p>As of June 2017, the SFC will require all client agreements to include a clause stating that any solicitations to purchase, or recommendations for any financial product, must be suitable for the client.</p>

                    <p>Furthermore, client agreements will be prohibited from containing provisions inconsistent with the SFC's Code of Conduct.</p>

                    <p>This reflects the current trend of the SFC to enhance regulations by strengthening the rights of clients and investors.</p>

                    <p>However current exemptions, such as those relating to professional investors continue to apply, and the SFC has stated that in such situations if an intermediary chooses to enter into a client agreement for business efficacy or other valid reasons, it will not be required to include the new clause.</p>

                    </p>
                </div>
            </div>
        </div>
    </div>


	<div class="row">

		<div class="col-lg-6">
            <div>
                {{>licensing}}
                {{>compliance}}
	            {{>masteragreements}}
	        </div>
		</div>

        <div class="col-lg-6">
            <div>
                {{>setup}}
            </div>
        </div>
	</div>
</div>